body{
    background: url(/images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    line-height: 12px;
}

header h1{
    font-size: 120px;
    text-transform: uppercase;
}

 header span{
    font-size: 30px;
 }

 header img{
    height: 300px;
 }
    /*Partie footer*/
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    font-weight: 600;
    font-size: 18px;
    background-color: #555555;
    border-top: 5px solid #f25a29;
    padding-left: 20px;
    padding-right: 20px;
}

footer a{
    color: #fff;
    text-decoration: none;
}

#cocktails{
    padding: 150px 20px;
    margin: 10px 20%;
}
#cocktails>div{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #f25a29;
    border-radius: 10px;
}

.overlay img{
    width: 140px;
}

.overlay p{
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
}

#cocktails>div{
    position: relative;
    height: 300px;
    overflow: hidden;
    margin: 10px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid #f25a29;
    box-shadow: 12px 12px 2px 1px #f25a2980;
    border-radius: 10px;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #f25a29 0%, #373737 100%);
    
    /*Disposition flex*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #f25a29;
    border-radius: 10px;
}

#cocktails>div:hover .overlay{
    z-index: 1;
    transform: rottate(360deg);
}

.overlay{
    position: absolute;
    height: 300px;
    width: 100%;
    top: 100%;
    transition: all is;
    background: linear-gradient(180deg, #f25a29 0%, #373737 100%);

    /*Disposition flex*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #f25a29;
    border-radius: 10px;
}

#cocktails>div:hover .overlay{
    z-index: 1;
    transform: rottate(360deg);
    top:0px
}

.overlay{
    position: absolute;
    height: 300px;
    width: 100%;
    right: 100%;
    transition: all 1s;
    background: linear-gradient(180deg, #f25a29 0%, #373737 100%);

    /*Disposition flex*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #f25a29;
    border-radius: 10px;
}
    #cocktails>div:hover .overlay{
        z-index: 1;
        transform: rotate(360deg);
        top: 0px;
    }
